<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConfigItems</key>
	<dict>
		<key>BackgroundFetchInterval</key>
		<integer>30</integer>
		<key>MahjongEmojisVersion</key>
		<string>1.0</string>
		<key>MahjongEmojisDownloadUrl</key>
		<string>https://raw.githubusercontent.com/zaczh/saralin/master/Mahjong.zip</string>
		<key>ForumInfoDownloadUrl</key>
		<string>https://raw.githubusercontent.com/zaczh/saralin/master/forum_info.plist</string>
		<key>UserGroupInfoDownloadUrl</key>
		<string>https://raw.githubusercontent.com/zaczh/saralin/master/user_group_info.plist</string>
	</dict>
	<key>ConfigVersion</key>
	<string>3.1</string>
	<key>CompatibleAppVersion</key>
	<string>2.0</string>
</dict>
</plist>
