<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>color</key>
			<string>#D0169C</string>
			<key>fid</key>
			<string>138</string>
			<key>types</key>
			<array>
				<dict>
					<key>typename</key>
					<string>赛事</string>
					<key>typeid</key>
					<string>276</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>菠菜</string>
					<key>typeid</key>
					<string>277</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>真爱</string>
					<key>typeid</key>
					<string>278</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>翻译</string>
					<key>typeid</key>
					<string>279</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>更新</string>
					<key>typeid</key>
					<string>280</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>饰品</string>
					<key>typeid</key>
					<string>281</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>报警</string>
					<key>typeid</key>
					<string>282</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>美图</string>
					<key>typeid</key>
					<string>283</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>视频</string>
					<key>typeid</key>
					<string>284</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>分享</string>
					<key>typeid</key>
					<string>285</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>信仰</string>
					<key>typeid</key>
					<string>286</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>认真玩游戏</string>
					<key>typeid</key>
					<string>287</string>
				</dict>
			</array>
			<key>sublist</key>
			<array/>
			<key>name</key>
			<string>DOTA</string>
			<key>initial</key>
			<string>刀</string>
		</dict>
		<dict>
			<key>info</key>
			<string>自曝区</string>
			<key>color</key>
			<string>#CF417E</string>
			<key>types</key>
			<array>
				<dict>
					<key>typename</key>
					<string>奇怪爆</string>
					<key>typeid</key>
					<string>177</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>娃爆</string>
					<key>typeid</key>
					<string>155</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>男爆</string>
					<key>typeid</key>
					<string>152</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>女爆</string>
					<key>typeid</key>
					<string>153</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>闪光弹</string>
					<key>typeid</key>
					<string>154</string>
				</dict>
			</array>
			<key>sublist</key>
			<array/>
			<key>fid</key>
			<string>93</string>
			<key>name</key>
			<string>火暴</string>
			<key>initial</key>
			<string>爆</string>
		</dict>
		<dict>
			<key>info</key>
			<string>虚拟主播VTB</string>
			<key>color</key>
			<string>#CF417E</string>
			<key>types</key>
			<array>
				<dict>
					<key>typename</key>
					<string>综合</string>
					<key>typeid</key>
					<string>367</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>百科</string>
					<key>typeid</key>
					<string>368</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>推荐</string>
					<key>typeid</key>
					<string>369</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>新闻</string>
					<key>typeid</key>
					<string>370</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>八卦</string>
					<key>typeid</key>
					<string>371</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>求战</string>
					<key>typeid</key>
					<string>372</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>活动</string>
					<key>typeid</key>
					<string>373</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>其他</string>
					<key>typeid</key>
					<string>374</string>
				</dict>
			</array>
			<key>sublist</key>
			<array/>
			<key>fid</key>
			<string>151</string>
			<key>name</key>
			<string>VTB</string>
			<key>initial</key>
			<string>V</string>
		</dict>
		<dict>
			<key>fid</key>
			<string>4</string>
			<key>types</key>
			<array>
				<dict>
					<key>typename</key>
					<string>青黑无脑不要游戏只求一战</string>
					<key>typeid</key>
					<string>175</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>新闻</string>
					<key>typeid</key>
					<string>12</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>NDS</string>
					<key>typeid</key>
					<string>234</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>手游</string>
					<key>typeid</key>
					<string>73</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>Wii U</string>
					<key>typeid</key>
					<string>128</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>怀旧</string>
					<key>typeid</key>
					<string>9</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>资源</string>
					<key>typeid</key>
					<string>13</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>PSVita</string>
					<key>typeid</key>
					<string>77</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>WII</string>
					<key>typeid</key>
					<string>235</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>3DS</string>
					<key>typeid</key>
					<string>11</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>汉化</string>
					<key>typeid</key>
					<string>238</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>其他</string>
					<key>typeid</key>
					<string>1</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>PS2</string>
					<key>typeid</key>
					<string>236</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>PC</string>
					<key>typeid</key>
					<string>8</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>PSP</string>
					<key>typeid</key>
					<string>3</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>PS4</string>
					<key>typeid</key>
					<string>232</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>XBOX</string>
					<key>typeid</key>
					<string>7</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>多平台</string>
					<key>typeid</key>
					<string>10</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>页游</string>
					<key>typeid</key>
					<string>233</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>PS3</string>
					<key>typeid</key>
					<string>5</string>
				</dict>
			</array>
			<key>sublist</key>
			<array>
				<dict>
					<key>fid</key>
					<string>97</string>
					<key>name</key>
					<string>蛋头电玩贩卖区</string>
				</dict>
			</array>
			<key>name</key>
			<string>游戏论坛</string>
			<key>color</key>
			<string>#4113EE</string>
		</dict>
		<dict>
			<key>color</key>
			<string>#E6B3D0</string>
			<key>fid</key>
			<string>141</string>
			<key>types</key>
			<array/>
			<key>name</key>
			<string>泥潭（新闻时政区）</string>
			<key>sublist</key>
			<array/>
			<key>initial</key>
			<string>泥</string>
		</dict>
		<dict>
			<key>colors</key>
			<array>
				<string>9cde66</string>
				<string>978f9b</string>
				<string>cac4cd</string>
			</array>
			<key>color</key>
			<string>#400781</string>
			<key>types</key>
			<array>
				<dict>
					<key>typename</key>
					<string>3000问求助</string>
					<key>typeid</key>
					<string>149</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>经济</string>
					<key>typeid</key>
					<string>146</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>军普</string>
					<key>typeid</key>
					<string>143</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>桌游</string>
					<key>typeid</key>
					<string>145</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>社会</string>
					<key>typeid</key>
					<string>140</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>海外</string>
					<key>typeid</key>
					<string>141</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>福利</string>
					<key>typeid</key>
					<string>150</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>欢乐</string>
					<key>typeid</key>
					<string>139</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>育儿</string>
					<key>typeid</key>
					<string>147</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>健康</string>
					<key>typeid</key>
					<string>148</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>读书</string>
					<key>typeid</key>
					<string>176</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>职场</string>
					<key>typeid</key>
					<string>142</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>旅游</string>
					<key>typeid</key>
					<string>174</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>科技</string>
					<key>typeid</key>
					<string>173</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>生活</string>
					<key>typeid</key>
					<string>138</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>其他</string>
					<key>typeid</key>
					<string>151</string>
				</dict>
			</array>
			<key>sublist</key>
			<array>
				<dict>
					<key>fid</key>
					<string>123</string>
					<key>name</key>
					<string>吃货</string>
				</dict>
				<dict>
					<key>fid</key>
					<string>93</string>
					<key>name</key>
					<string>火暴</string>
				</dict>
				<dict>
					<key>fid</key>
					<string>74</string>
					<key>name</key>
					<string>马叉虫</string>
				</dict>
				<dict>
					<key>fid</key>
					<string>101</string>
					<key>name</key>
					<string>犭苗犭句</string>
				</dict>
				<dict>
					<key>fid</key>
					<string>76</string>
					<key>name</key>
					<string>车欠女未</string>
				</dict>
				<dict>
					<key>fid</key>
					<string>87</string>
					<key>name</key>
					<string>圣？战！日</string>
				</dict>
				<dict>
					<key>fid</key>
					<string>109</string>
					<key>name</key>
					<string>菠菜</string>
				</dict>
				<dict>
					<key>fid</key>
					<string>71</string>
					<key>name</key>
					<string>火星</string>
				</dict>
				<dict>
					<key>fid</key>
					<string>100</string>
					<key>name</key>
					<string>哥欠</string>
				</dict>
			</array>
			<key>fid</key>
			<string>75</string>
			<key>name</key>
			<string>卓明谷</string>
			<key>info</key>
			<string>议事大厅</string>
		</dict>
		<dict>
			<key>color</key>
			<string>#6492A5</string>
			<key>info</key>
			<string>美食区</string>
			<key>fid</key>
			<string>123</string>
			<key>types</key>
			<array>
				<dict>
					<key>typename</key>
					<string>动嘴</string>
					<key>typeid</key>
					<string>227</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>动手</string>
					<key>typeid</key>
					<string>226</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>分享</string>
					<key>typeid</key>
					<string>228</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>吃货槽点多</string>
					<key>typeid</key>
					<string>230</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>三千问</string>
					<key>typeid</key>
					<string>229</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>吃货战争</string>
					<key>typeid</key>
					<string>237</string>
				</dict>
			</array>
			<key>sublist</key>
			<array/>
			<key>name</key>
			<string>吃货</string>
		</dict>
		<dict>
			<key>initial</key>
			<string>体</string>
			<key>fid</key>
			<string>77</string>
			<key>types</key>
			<array>
				<dict>
					<key>typename</key>
					<string>棋牌乒羽</string>
					<key>typeid</key>
					<string>240</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>足球</string>
					<key>typeid</key>
					<string>60</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>八卦娱乐</string>
					<key>typeid</key>
					<string>63</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>网球</string>
					<key>typeid</key>
					<string>61</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>综合</string>
					<key>typeid</key>
					<string>58</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>篮球</string>
					<key>typeid</key>
					<string>59</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>赛车</string>
					<key>typeid</key>
					<string>62</string>
				</dict>
			</array>
			<key>name</key>
			<string>八卦体育</string>
			<key>sublist</key>
			<array/>
			<key>color</key>
			<string>#E9BB1C</string>
		</dict>
		<dict>
			<key>initial</key>
			<string>漫</string>
			<key>color</key>
			<string>#8280E4</string>
			<key>types</key>
			<array>
				<dict>
					<key>typename</key>
					<string>讨论</string>
					<key>typeid</key>
					<string>17</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>恶搞</string>
					<key>typeid</key>
					<string>20</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>求助</string>
					<key>typeid</key>
					<string>14</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>列举</string>
					<key>typeid</key>
					<string>179</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>新闻</string>
					<key>typeid</key>
					<string>16</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>活动</string>
					<key>typeid</key>
					<string>76</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>新番</string>
					<key>typeid</key>
					<string>18</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>分享</string>
					<key>typeid</key>
					<string>19</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>原创</string>
					<key>typeid</key>
					<string>15</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>求战</string>
					<key>typeid</key>
					<string>180</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>推荐</string>
					<key>typeid</key>
					<string>181</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>美漫</string>
					<key>typeid</key>
					<string>183</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>连载</string>
					<key>typeid</key>
					<string>289</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>漫画</string>
					<key>typeid</key>
					<string>290</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>怀旧</string>
					<key>typeid</key>
					<string>75</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>声优</string>
					<key>typeid</key>
					<string>21</string>
				</dict>
			</array>
			<key>sublist</key>
			<array>
				<dict>
					<key>fid</key>
					<string>83</string>
					<key>name</key>
					<string>动漫投票鉴赏</string>
				</dict>
			</array>
			<key>fid</key>
			<string>6</string>
			<key>name</key>
			<string>动漫论坛</string>
			<key>info</key>
			<string>二次元讨论区</string>
		</dict>
		<dict>
			<key>color</key>
			<string>#CB9192</string>
			<key>fid</key>
			<string>51</string>
			<key>types</key>
			<array>
				<dict>
					<key>typename</key>
					<string>新闻</string>
					<key>typeid</key>
					<string>254</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>交易</string>
					<key>typeid</key>
					<string>137</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>开箱</string>
					<key>typeid</key>
					<string>291</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>外设</string>
					<key>typeid</key>
					<string>50</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>移动</string>
					<key>typeid</key>
					<string>52</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>数码</string>
					<key>typeid</key>
					<string>53</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>其他</string>
					<key>typeid</key>
					<string>47</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>软件</string>
					<key>typeid</key>
					<string>49</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>硬件</string>
					<key>typeid</key>
					<string>48</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>手提</string>
					<key>typeid</key>
					<string>51</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>网络</string>
					<key>typeid</key>
					<string>185</string>
				</dict>
			</array>
			<key>sublist</key>
			<array>
				<dict>
					<key>fid</key>
					<string>80</string>
					<key>name</key>
					<string>摄影区</string>
				</dict>
			</array>
			<key>name</key>
			<string>ＰＣ数码</string>
			<key>initial</key>
			<string>数</string>
		</dict>
		<dict>
			<key>fid</key>
			<string>131</string>
			<key>types</key>
			<array>
				<dict>
					<key>typename</key>
					<string>维修改装</string>
					<key>typeid</key>
					<string>247</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>业界杂谈</string>
					<key>typeid</key>
					<string>244</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>购车咨询</string>
					<key>typeid</key>
					<string>245</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>作业自爆</string>
					<key>typeid</key>
					<string>246</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>其他</string>
					<key>typeid</key>
					<string>249</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>轻骑重机</string>
					<key>typeid</key>
					<string>248</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>新闻新车</string>
					<key>typeid</key>
					<string>243</string>
				</dict>
			</array>
			<key>name</key>
			<string>车</string>
			<key>sublist</key>
			<array/>
			<key>color</key>
			<string>#E75E52</string>
		</dict>
		<dict>
			<key>fid</key>
			<string>48</string>
			<key>types</key>
			<array/>
			<key>sublist</key>
			<array/>
			<key>name</key>
			<string>影视论坛</string>
			<key>color</key>
			<string>#04C8F0</string>
		</dict>
		<dict>
			<key>color</key>
			<string>#200020</string>
			<key>fid</key>
			<string>53</string>
			<key>info</key>
			<string>艾泽拉斯冒险者交流区</string>
			<key>sublist</key>
			<array/>
			<key>name</key>
			<string>魔兽世界</string>
			<key>types</key>
			<array/>
		</dict>
		<dict>
			<key>fid</key>
			<string>50</string>
			<key>types</key>
			<array>
				<dict>
					<key>typename</key>
					<string>逸闻</string>
					<key>typeid</key>
					<string>42</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>文化</string>
					<key>typeid</key>
					<string>41</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>推荐</string>
					<key>typeid</key>
					<string>46</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>历史</string>
					<key>typeid</key>
					<string>40</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>品评</string>
					<key>typeid</key>
					<string>45</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>小说</string>
					<key>typeid</key>
					<string>43</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>散文</string>
					<key>typeid</key>
					<string>39</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>诗歌</string>
					<key>typeid</key>
					<string>44</string>
				</dict>
			</array>
			<key>name</key>
			<string>文史沙龙</string>
			<key>sublist</key>
			<array>
				<dict>
					<key>fid</key>
					<string>120</string>
					<key>name</key>
					<string>读书会</string>
				</dict>
			</array>
			<key>color</key>
			<string>#319980</string>
		</dict>
		<dict>
			<key>fid</key>
			<string>135</string>
			<key>types</key>
			<array>
				<dict>
					<key>typename</key>
					<string>社交卡游</string>
					<key>typeid</key>
					<string>250</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>页游</string>
					<key>typeid</key>
					<string>253</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>ios</string>
					<key>typeid</key>
					<string>251</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>android</string>
					<key>typeid</key>
					<string>252</string>
				</dict>
			</array>
			<key>name</key>
			<string>手游页游</string>
			<key>sublist</key>
			<array>
				<dict>
					<key>fid</key>
					<string>141</string>
					<key>name</key>
					<string>村长打天下 Gagame</string>
				</dict>
			</array>
			<key>color</key>
			<string>#1813F0</string>
		</dict>
		<dict>
			<key>initial</key>
			<string>L</string>
			<key>fid</key>
			<string>111</string>
			<key>types</key>
			<array>
				<dict>
					<key>typename</key>
					<string>公告通知</string>
					<key>typeid</key>
					<string>135</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>问题求助</string>
					<key>typeid</key>
					<string>130</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>福利分享</string>
					<key>typeid</key>
					<string>184</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>英雄攻略</string>
					<key>typeid</key>
					<string>129</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>话题讨论</string>
					<key>typeid</key>
					<string>134</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>个人心得</string>
					<key>typeid</key>
					<string>136</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>外服动态</string>
					<key>typeid</key>
					<string>132</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>精彩视频</string>
					<key>typeid</key>
					<string>133</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>国服动态</string>
					<key>typeid</key>
					<string>131</string>
				</dict>
			</array>
			<key>sublist</key>
			<array/>
			<key>name</key>
			<string>英雄联盟(LOL)</string>
			<key>color</key>
			<string>#216471</string>
		</dict>
		<dict>
			<key>fid</key>
			<string>69</string>
			<key>types</key>
			<array>
				<dict>
					<key>typename</key>
					<string>公告通知</string>
					<key>typeid</key>
					<string>135</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>问题求助</string>
					<key>typeid</key>
					<string>130</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>福利分享</string>
					<key>typeid</key>
					<string>184</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>英雄攻略</string>
					<key>typeid</key>
					<string>129</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>话题讨论</string>
					<key>typeid</key>
					<string>134</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>个人心得</string>
					<key>typeid</key>
					<string>136</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>外服动态</string>
					<key>typeid</key>
					<string>132</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>精彩视频</string>
					<key>typeid</key>
					<string>133</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>国服动态</string>
					<key>typeid</key>
					<string>131</string>
				</dict>
			</array>
			<key>sublist</key>
			<array/>
			<key>name</key>
			<string>怪物猎人</string>
			<key>color</key>
			<string>#B294E8</string>
		</dict>
		<dict>
			<key>color</key>
			<string>#C34756</string>
			<key>info</key>
			<string>论坛内部事务讨论区</string>
			<key>fid</key>
			<string>27</string>
			<key>types</key>
			<array>
				<dict>
					<key>typename</key>
					<string>版主自荐</string>
					<key>typeid</key>
					<string>84</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>bug提交</string>
					<key>typeid</key>
					<string>81</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>功能建议</string>
					<key>typeid</key>
					<string>85</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>开版申请</string>
					<key>typeid</key>
					<string>83</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>友情链接</string>
					<key>typeid</key>
					<string>87</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>账号</string>
					<key>typeid</key>
					<string>82</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>投诉</string>
					<key>typeid</key>
					<string>80</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>其他</string>
					<key>typeid</key>
					<string>86</string>
				</dict>
			</array>
			<key>name</key>
			<string>内野</string>
			<key>sublist</key>
			<array/>
		</dict>
		<dict>
			<key>info</key>
			<string>情感交流区</string>
			<key>color</key>
			<string>#A786A2</string>
			<key>types</key>
			<array>
				<dict>
					<key>typename</key>
					<string>求骂醒</string>
					<key>typeid</key>
					<string>166</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>闷骚</string>
					<key>typeid</key>
					<string>169</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>其他</string>
					<key>typeid</key>
					<string>172</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>求训导</string>
					<key>typeid</key>
					<string>170</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>大傻逼</string>
					<key>typeid</key>
					<string>182</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>缩退跑</string>
					<key>typeid</key>
					<string>171</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>蛋蛋的忧伤</string>
					<key>typeid</key>
					<string>167</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>纯爱</string>
					<key>typeid</key>
					<string>178</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>树洞</string>
					<key>typeid</key>
					<string>165</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>闪光弹</string>
					<key>typeid</key>
					<string>168</string>
				</dict>
			</array>
			<key>sublist</key>
			<array/>
			<key>fid</key>
			<string>74</string>
			<key>name</key>
			<string>马叉虫</string>
			<key>initial</key>
			<string>骚</string>
		</dict>
		<dict>
			<key>fid</key>
			<string>24</string>
			<key>types</key>
			<array/>
			<key>name</key>
			<string>音乐论坛</string>
			<key>sublist</key>
			<array/>
			<key>color</key>
			<string>#B130C1</string>
		</dict>
		<dict>
			<key>fid</key>
			<string>80</string>
			<key>types</key>
			<array/>
			<key>name</key>
			<string>摄影区</string>
			<key>sublist</key>
			<array/>
			<key>color</key>
			<string>#B6160C</string>
		</dict>
		<dict>
			<key>fid</key>
			<string>115</string>
			<key>types</key>
			<array/>
			<key>sublist</key>
			<array/>
			<key>name</key>
			<string>二手交易区</string>
			<key>color</key>
			<string>#A6BECE</string>
		</dict>
		<dict>
			<key>fid</key>
			<string>132</string>
			<key>types</key>
			<array/>
			<key>sublist</key>
			<array/>
			<key>name</key>
			<string>炉石传说</string>
			<key>color</key>
			<string>#C31007</string>
		</dict>
		<dict>
			<key>types</key>
			<array/>
			<key>fid</key>
			<string>31</string>
			<key>info</key>
			<string>外国文化讨论区</string>
			<key>sublist</key>
			<array/>
			<key>name</key>
			<string>彼岸文化</string>
			<key>color</key>
			<string>#F937D8</string>
		</dict>
		<dict>
			<key>fid</key>
			<string>136</string>
			<key>types</key>
			<array>
				<dict>
					<key>typename</key>
					<string>喷涂改造</string>
					<key>typeid</key>
					<string>258</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>变形金刚</string>
					<key>typeid</key>
					<string>262</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>DD娃娃</string>
					<key>typeid</key>
					<string>269</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>食玩扭蛋</string>
					<key>typeid</key>
					<string>270</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>摄影分享</string>
					<key>typeid</key>
					<string>256</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>GK</string>
					<key>typeid</key>
					<string>268</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>其他品牌模型</string>
					<key>typeid</key>
					<string>263</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>新品预告</string>
					<key>typeid</key>
					<string>255</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>日西</string>
					<key>typeid</key>
					<string>271</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>战锤</string>
					<key>typeid</key>
					<string>272</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>军事模型</string>
					<key>typeid</key>
					<string>264</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>兽屋模型</string>
					<key>typeid</key>
					<string>260</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>成品玩具</string>
					<key>typeid</key>
					<string>265</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>DOLL</string>
					<key>typeid</key>
					<string>274</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>乐高</string>
					<key>typeid</key>
					<string>288</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>万代模型</string>
					<key>typeid</key>
					<string>259</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>粘土</string>
					<key>typeid</key>
					<string>273</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>高达模型</string>
					<key>typeid</key>
					<string>261</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>PVC</string>
					<key>typeid</key>
					<string>267</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>测评分析</string>
					<key>typeid</key>
					<string>257</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>特摄</string>
					<key>typeid</key>
					<string>266</string>
				</dict>
			</array>
			<key>sublist</key>
			<array/>
			<key>name</key>
			<string>模玩专区</string>
			<key>color</key>
			<string>#A6721A</string>
		</dict>
		<dict>
			<key>color</key>
			<string>#E6B3D0</string>
			<key>fid</key>
			<string>118</string>
			<key>types</key>
			<array>
				<dict>
					<key>typename</key>
					<string>求教</string>
					<key>typeid</key>
					<string>215</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>DH</string>
					<key>typeid</key>
					<string>203</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>圣教军</string>
					<key>typeid</key>
					<string>275</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>美服讨论</string>
					<key>typeid</key>
					<string>200</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>武僧</string>
					<key>typeid</key>
					<string>206</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>蛮子</string>
					<key>typeid</key>
					<string>204</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>亚服讨论</string>
					<key>typeid</key>
					<string>199</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>欧服讨论</string>
					<key>typeid</key>
					<string>209</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>活动</string>
					<key>typeid</key>
					<string>211</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>巫医</string>
					<key>typeid</key>
					<string>205</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>剧情</string>
					<key>typeid</key>
					<string>208</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>亲女儿</string>
					<key>typeid</key>
					<string>202</string>
				</dict>
			</array>
			<key>name</key>
			<string>真碉堡山 Diablo3</string>
			<key>sublist</key>
			<array/>
			<key>initial</key>
			<string>碉</string>
		</dict>
		<dict>
			<key>fid</key>
			<string>134</string>
			<key>types</key>
			<array/>
			<key>sublist</key>
			<array/>
			<key>name</key>
			<string>热血魔兽</string>
		</dict>
		<dict>
			<key>fid</key>
			<string>140</string>
			<key>types</key>
			<array>
				<dict>
					<key>typename</key>
					<string>无限之塔</string>
					<key>typeid</key>
					<string>363</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>宝石与爬塔</string>
					<key>typeid</key>
					<string>328</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>像素骑士团</string>
					<key>typeid</key>
					<string>292</string>
				</dict>
			</array>
			<key>sublist</key>
			<array/>
			<key>name</key>
			<string>联运 无限之塔</string>
		</dict>
		<dict>
			<key>fid</key>
			<string>110</string>
			<key>types</key>
			<array/>
			<key>name</key>
			<string>洛奇英雄传</string>
			<key>sublist</key>
			<array/>
		</dict>
		<dict>
			<key>fid</key>
			<string>122</string>
			<key>types</key>
			<array/>
			<key>name</key>
			<string>将军</string>
			<key>sublist</key>
			<array/>
		</dict>
		<dict>
			<key>fid</key>
			<string>125</string>
			<key>types</key>
			<array/>
			<key>sublist</key>
			<array/>
			<key>name</key>
			<string>热血海贼王</string>
		</dict>
		<dict>
			<key>fid</key>
			<string>66</string>
			<key>types</key>
			<array/>
			<key>name</key>
			<string>光荣网游版</string>
			<key>sublist</key>
			<array/>
		</dict>
		<dict>
			<key>fid</key>
			<string>94</string>
			<key>types</key>
			<array/>
			<key>sublist</key>
			<array/>
			<key>name</key>
			<string>永恒之塔</string>
		</dict>
		<dict>
			<key>fid</key>
			<string>105</string>
			<key>types</key>
			<array/>
			<key>sublist</key>
			<array/>
			<key>name</key>
			<string>FF 14</string>
		</dict>
		<dict>
			<key>fid</key>
			<string>56</string>
			<key>types</key>
			<array/>
			<key>sublist</key>
			<array/>
			<key>name</key>
			<string>梦幻之星 Phantasy Star</string>
		</dict>
		<dict>
			<key>fid</key>
			<string>85</string>
			<key>types</key>
			<array/>
			<key>sublist</key>
			<array/>
			<key>name</key>
			<string>生化危机共和国</string>
		</dict>
		<dict>
			<key>fid</key>
			<string>36</string>
			<key>types</key>
			<array/>
			<key>sublist</key>
			<array/>
			<key>name</key>
			<string>仙境传说R O.</string>
		</dict>
		<dict>
			<key>fid</key>
			<string>26</string>
			<key>types</key>
			<array/>
			<key>name</key>
			<string>女神转生</string>
			<key>sublist</key>
			<array/>
		</dict>
		<dict>
			<key>fid</key>
			<string>45</string>
			<key>types</key>
			<array/>
			<key>sublist</key>
			<array/>
			<key>name</key>
			<string>风来西林</string>
		</dict>
		<dict>
			<key>fid</key>
			<string>42</string>
			<key>types</key>
			<array/>
			<key>name</key>
			<string>任天堂专区</string>
			<key>sublist</key>
			<array/>
		</dict>
		<dict>
			<key>fid</key>
			<string>41</string>
			<key>types</key>
			<array/>
			<key>name</key>
			<string>无双论坛</string>
			<key>sublist</key>
			<array/>
		</dict>
		<dict>
			<key>fid</key>
			<string>43</string>
			<key>types</key>
			<array/>
			<key>sublist</key>
			<array/>
			<key>name</key>
			<string>幻水圣域</string>
		</dict>
		<dict>
			<key>fid</key>
			<string>46</string>
			<key>types</key>
			<array/>
			<key>sublist</key>
			<array/>
			<key>name</key>
			<string>重装机兵</string>
		</dict>
		<dict>
			<key>fid</key>
			<string>113</string>
			<key>types</key>
			<array/>
			<key>name</key>
			<string>第九大陆C9</string>
			<key>sublist</key>
			<array/>
		</dict>
		<dict>
			<key>fid</key>
			<string>33</string>
			<key>types</key>
			<array/>
			<key>name</key>
			<string>异度传说</string>
			<key>sublist</key>
			<array/>
		</dict>
		<dict>
			<key>fid</key>
			<string>49</string>
			<key>types</key>
			<array/>
			<key>name</key>
			<string>街</string>
			<key>sublist</key>
			<array/>
		</dict>
		<dict>
			<key>fid</key>
			<string>61</string>
			<key>types</key>
			<array/>
			<key>name</key>
			<string>LIVE A LIVE</string>
			<key>sublist</key>
			<array/>
		</dict>
		<dict>
			<key>fid</key>
			<string>82</string>
			<key>types</key>
			<array>
				<dict>
					<key>typename</key>
					<string>其他游戏</string>
					<key>typeid</key>
					<string>92</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>MMO</string>
					<key>typeid</key>
					<string>88</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>音乐游戏</string>
					<key>typeid</key>
					<string>91</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>休闲游戏</string>
					<key>typeid</key>
					<string>89</string>
				</dict>
				<dict>
					<key>typename</key>
					<string>网页游戏</string>
					<key>typeid</key>
					<string>90</string>
				</dict>
			</array>
			<key>sublist</key>
			<array>
				<dict>
					<key>name</key>
					<string>真碉堡山 Diablo3</string>
					<key>fid</key>
					<string>118</string>
				</dict>
				<dict>
					<key>fid</key>
					<string>53</string>
					<key>name</key>
					<string>魔兽世界</string>
				</dict>
				<dict>
					<key>fid</key>
					<string>78</string>
					<key>name</key>
					<string>地下城勇士(DNF)</string>
				</dict>
				<dict>
					<key>fid</key>
					<string>79</string>
					<key>name</key>
					<string>暴雪游戏专区</string>
				</dict>
				<dict>
					<key>name</key>
					<string>剑网3</string>
					<key>fid</key>
					<string>116</string>
				</dict>
				<dict>
					<key>name</key>
					<string>激战2</string>
					<key>fid</key>
					<string>60</string>
				</dict>
			</array>
			<key>name</key>
			<string>新网游综合讨论区</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.2</string>
</dict>
</plist>
