<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>gid</key>
		<string>1</string>
		<key>name</key>
		<string>管理员</string>
	</dict>
	<dict>
		<key>gid</key>
		<string>2</string>
		<key>name</key>
		<string>超级版主</string>
	</dict>
	<dict>
		<key>gid</key>
		<string>3</string>
		<key>name</key>
		<string>版主</string>
	</dict>
	<dict>
		<key>gid</key>
		<string>4</string>
		<key>name</key>
		<string>禁止发言</string>
	</dict>
	<dict>
		<key>gid</key>
		<string>5</string>
		<key>name</key>
		<string>禁止访问</string>
	</dict>
	<dict>
		<key>gid</key>
		<string>6</string>
		<key>name</key>
		<string>禁止IP</string>
	</dict>
	<dict>
		<key>gid</key>
		<string>7</string>
		<key>name</key>
		<string>游客</string>
	</dict>
	<dict>
		<key>gid</key>
		<string>8</string>
		<key>name</key>
		<string>等待验证会员</string>
	</dict>
	<dict>
		<key>gid</key>
		<string>9</string>
		<key>name</key>
		<string>限制会员</string>
	</dict>
	<dict>
		<key>gid</key>
		<string>18</string>
		<key>name</key>
		<string>抹布党</string>
	</dict>
	<dict>
		<key>gid</key>
		<string>19</string>
		<key>name</key>
		<string>剩斗士</string>
	</dict>
	<dict>
		<key>gid</key>
		<string>26</string>
		<key>name</key>
		<string>火星守望者</string>
	</dict>
	<dict>
		<key>gid</key>
		<string>27</string>
		<key>name</key>
		<string>狂信者</string>
	</dict>
	<dict>
		<key>gid</key>
		<string>28</string>
		<key>name</key>
		<string>腐宅</string>
	</dict>
	<dict>
		<key>gid</key>
		<string>29</string>
		<key>name</key>
		<string>电车族</string>
	</dict>
	<dict>
		<key>gid</key>
		<string>30</string>
		<key>name</key>
		<string>工具党</string>
	</dict>
	<dict>
		<key>gid</key>
		<string>31</string>
		<key>name</key>
		<string>死死团</string>
	</dict>
	<dict>
		<key>gid</key>
		<string>32</string>
		<key>name</key>
		<string>卡片召唤师</string>
	</dict>
	<dict>
		<key>gid</key>
		<string>35</string>
		<key>name</key>
		<string>2012</string>
	</dict>
	<dict>
		<key>gid</key>
		<string>39</string>
		<key>name</key>
		<string>见习版主</string>
	</dict>
	<dict>
		<key>gid</key>
		<string>40</string>
		<key>name</key>
		<string>博爱者</string>
	</dict>
	<dict>
		<key>gid</key>
		<string>49</string>
		<key>name</key>
		<string>大魔法师</string>
	</dict>
	<dict>
		<key>gid</key>
		<string>50</string>
		<key>name</key>
		<string>烂菠菜</string>
	</dict>
	<dict>
		<key>gid</key>
		<string>52</string>
		<key>name</key>
		<string>大贤者</string>
	</dict>
	<dict>
		<key>gid</key>
		<string>53</string>
		<key>name</key>
		<string>圣斗士</string>
	</dict>
	<dict>
		<key>gid</key>
		<string>54</string>
		<key>name</key>
		<string>最后的雷斯林</string>
	</dict>
	<dict>
		<key>gid</key>
		<string>55</string>
		<key>name</key>
		<string>黑洞</string>
	</dict>
	<dict>
		<key>gid</key>
		<string>56</string>
		<key>name</key>
		<string>临时访问组</string>
	</dict>
</array>
</plist>
